.header {
  max-width: 100%;
  border-bottom: $border;
}

.header__inner {
  height: 80px;
  display: flex;
  align-items: center;
}

.nav {
  margin: 0 auto;
}

.nav__list {
  display: flex;
  gap: 20px;
}