.header {
  max-width: 100%;
  border-bottom: $border;
}

.header__inner {
  height: 80px;
  display: flex;
  align-items: center;
}

.nav {
  margin: 0 auto;
}

.nav__list {
  display: flex;
  gap: 20px;
}
.logs__box {
  display: flex;
  gap: 30px;
}

#user-email {
  @include adaptive-font(12, 16);
  margin-right: 15px;
}