.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  width: 100%;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include adaptive-margin(20, 40);
  .form-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include adaptive-margin(10, 20)
  }
}

.home__inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    @include adaptive-margin(20, 50)
  }
}

.home__title {
  @include adaptive-font(30, 48);
  text-transform: uppercase;
}

.change-form__link {
  span {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}