
.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include adaptive-margin(20, 40);
  .form-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include adaptive-margin(10, 20)
  }
}

.sign__title {
  @include adaptive-font(30, 48);
  text-transform: uppercase;
}

.change-form__link {
  span {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.form-btn {
  margin-top: 10px;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border: $border;
  border-radius: 12px;
  // box-shadow: 0 0 35px black;
  backdrop-filter: blur(5px);
}